.createp1 .site-title {
  color: #555;
}

a {
  color: #555;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

.type-page p {
  color: #222;
}
#gNavi li a {
  background: #333;
}

.createp1 ul#gNavi ul > li {
  margin-left: -32px;
}

.site-main-costum-works .wp-block-image img:hover {
  opacity: 1;
  border: 5px solid #000;
}

.createp2 .bl_card_body {
  margin-top: -45px;
  padding-top: 45px;
}

.createp3 .site-header {
  background-color: #333;
  margin: 0 calc(50% - 50vw);
  width: 100vw;
  height: 220px;
  padding-top: 50px;
  margin-top: -20px;
  align-items: start;
  color: #fff;
}

img.custom-logo {
  width: 40%;
  height: auto;
  margin-left: 25%;
  position: relative;
}

@media screen and (max-width: 767px) {
  .site-main-costum-works .wp-block-image img:focus {
    opacity: 1;
    border: 5px solid #000;
  }
}
