html {
  font-size: 10px;
}

/* * {
    outline: dashed;
} */

/* site-main-costum-worksのスタイル */
.site-main-costum-works .entry-content {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 30px;
  width: 960px;
}

.site-main-costum-works .entry-content figure {
  flex-basis: calc(25% - 10px);
  /* 4列と10pxのギャップ */
  margin-bottom: 5px;
}

.site-main-costum-works .wp-block-image img {
  width: 230px;
  height: 230px;
  object-fit: cover;
  border: 1px solid rgb(163, 163, 163);
  cursor: pointer;
  position: relative;
}

.createp4 ul#gNavi li a {
  justify-content: center;
}

.site-main-costum-works .wp-element-caption {
  font-size: 1.2rem;
}

/* ライトボックスのスタイル */
.site-main-costum-works #lightbox .lightbox-img img {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  z-index: 99;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  border: 1px solid rgb(163, 163, 163);
}

/* site-main-costum-worksのスタイル */
.site-main-costum-works {
  display: flex;
  flex-wrap: wrap;
  /* flex-basis: 960px; */
  gap: 10px;
  margin-top: 50px;
}

.site-main-costum-works .entry-content figure {
  flex-basis: calc(25% - 10px);
  /* 4列と10pxのギャップ */
  margin-bottom: 10px;
}

.site-main-costum-works .wp-element-caption {
  font-size: 1.2rem;
}

.page-template-template-works h2 {
  font-size: 2.5rem;
  width: 100%;
  margin: 0;
  margin-top: 15px;
  color: #333;
}

.page-template-template-works h3 {
  font-size: 1.3rem;
  width: 960px;
  margin: 0;
  margin-top: 12px;
  color: #333;
}

@media screen and (max-width: 767px) {
  .createp4 ul#gNavi li a {
    justify-content: left;
  }
}
