
@media (min-width: 1025px) {
    .site-content {
        --ystd-container-margin-vertical:calc(var(--ystd-layout-gap)*2)
    }
}



@media (min-width: 1025px) {
    .content__main {
        max-width:var(--ystd-content-default-width)
    }

    .archive__main {
        padding-right: 0;
        padding-left: 0
    }

    .has-sidebar .content__wrap {
        display: flex;
        justify-content: space-between
    }

    .has-sidebar .archive__main,.has-sidebar .content__main {
        width: min(var(--ystd-content-min-width),var(--ystd-content-default-width));
        margin-left: 0
    }

    .has-sidebar .archive__main {
        padding-top: 0;
        padding-bottom: 0
    }
}



@media (max-width: 599px) {
    .has-background .archive__main,.has-background .content__main,.has-content-bg-color .archive__main,.has-content-bg-color .content__main {
        --ystd-content-horizon-margin:calc(var(--ystd-container-gutter)*-1);
        --ystd-content-padding: var(--ystd-layout-gap) var(--ystd-container-gutter);
        width: auto;
        max-width: unset
    }
}


@media (min-width: 600px) {
    .has-background .site-content {
        --ystd-container-margin-vertical:calc(var(--ystd-layout-gap)*2)
    }
}
@media (min-width: 1025px) {
    .sidebar {
        width:min(var(--ystd-sidebar-width),var(--ystd-sidebar-max-width))
    }
}
@media (min-width: 1025px) {
    .sidebar__fixed {
        position:sticky;
        top: var(--fixed-sidebar-top)
    }
}
@media (max-width: 599px) {
    .has-background .sidebar__fixed>*,.has-background .sidebar__widget>* {
        margin-right:calc(var(--ystd-container-gutter)*-1);
        margin-left: calc(var(--ystd-container-gutter)*-1);
        padding: var(--ystd-layout-gap) var(--ystd-container-gutter)
    }
}

@media (min-width: 600px) {
    .has-background .breadcrumbs+.site-content {
        margin-top:0
    }
}
@media (min-width: 1025px) {
    .has-background .site-content+.breadcrumbs {
        margin-top:-3em
    }
}
@media (min-width: 600px) {
    .ys-ad__double {
        display:flex;
        align-items: flex-start;
        text-align: center
    }

    .ys-ad__double>* {
        flex: 0 0 calc(50% - 1rem);
        width: calc(50% - 1rem);
        margin-right: auto;
        margin-left: auto
    }
}

@media (min-width: 600px) {
    .ys-posts__list.col-tablet--1>* {
        --ystd-posts-item-width:100%
    }

    .ys-posts__list.col-tablet--2>* {
        --ystd-posts-item-width: calc(50% - var(--ystd-posts-item-gap)*0.5)
    }

    .ys-posts__list.col-tablet--3>* {
        --ystd-posts-item-width: calc(33.33333% - var(--ystd-posts-item-gap)*0.66667)
    }

    .ys-posts__list.col-tablet--4>* {
        --ystd-posts-item-width: calc(25% - var(--ystd-posts-item-gap)*0.75)
    }

    .ys-posts__list.col-tablet--5>* {
        --ystd-posts-item-width: calc(20% - var(--ystd-posts-item-gap)*0.8)
    }

    .ys-posts__list.col-tablet--6>* {
        --ystd-posts-item-width: calc(16.66667% - var(--ystd-posts-item-gap)*0.83333)
    }
}

@media (min-width: 1025px) {
    .ys-posts__list.col-pc--1>* {
        --ystd-posts-item-width:100%
    }

    .ys-posts__list.col-pc--2>* {
        --ystd-posts-item-width: calc(50% - var(--ystd-posts-item-gap)*0.5)
    }

    .ys-posts__list.col-pc--3>* {
        --ystd-posts-item-width: calc(33.33333% - var(--ystd-posts-item-gap)*0.66667)
    }

    .ys-posts__list.col-pc--4>* {
        --ystd-posts-item-width: calc(25% - var(--ystd-posts-item-gap)*0.75)
    }

    .ys-posts__list.col-pc--5>* {
        --ystd-posts-item-width: calc(20% - var(--ystd-posts-item-gap)*0.8)
    }

    .ys-posts__list.col-pc--6>* {
        --ystd-posts-item-width: calc(16.66667% - var(--ystd-posts-item-gap)*0.83333)
    }
}
@media (min-width: 600px) {
    .ys-posts.is-list {
        --ystd-posts-thumbnail-width:min(30%,360px)
    }
}
@media (min-width: 600px) {
    .ys-posts.is-simple .ys-posts__text {
        display:flex;
        align-items: flex-start;
        gap: 1em
    }
}
@media (min-width: 600px) {
    .ys-posts.is-simple .ys-posts__title {
        margin-top:0
    }

    .paging__container {
        display: flex
    }
}

@media (min-width: 600px) {
    .paging__item {
        flex:0 0 calc(50% - 0.5em);
        width: calc(50% - .5em);
        margin-top: 0
    }
}
@media (min-width: 600px) {
    .pagination__item.is-hide-mobile {
        display:block
    }
}
@media (min-width: 600px) {
    .ys-blog-card__container .ys-blog-card__title {
        font-size:1em
    }
}

@media (min-width: 600px) {
    .ys-toc {
        padding:1em 1.5em
    }
}
@media (min-width: 769px) {
    .site-branding {
        padding:1em 0 0
    }
}
@media (min-width: 600px) {
    .site-branding .site-description {
        font-size:.8em
    }
}

@media (min-width: 769px) {
    .header-type--row1 .site-header__content {
        align-items:center
    }

    .header-type--row1 .site-branding {
        padding: 1em 0
    }

    .header-type--row1 .global-nav {
        align-items: center;
        margin-left: auto
    }
}

@media (min-width: 769px) {
    .header-type--center .site-branding {
        padding-bottom:.5em
    }
}
@media (min-width: 769px) {
    .header-type--center .global-nav {
        justify-content:center;
        text-align: center
    }

    .header-type--row2 .site-header__content {
        display: block
    }

    .header-type--row2 .site-branding {
        padding-bottom: .5em
    }
}
@media (min-width: 600px) {
@media (min-width: 600px) {
    .global-nav__toggle {
        padding:1em
    }
}
    .site-header-thumbnail img {
        -o-object-fit:cover;
        -o-object-position: 50% 50%;
        height: 50vh;
        max-height: 400px;
        object-fit: cover;
        object-position: 50% 50%
    }
}
@media (min-width: 600px) {
    .has-background .archive__page-title {
        margin-top:0
    }
}
@media (min-width: 600px) {
    .archive__container.is-card {
        flex-direction:row;
        flex-wrap: wrap
    }

    .archive__item.is-card {
        --ystd-archive-item-width: calc(50% - var(--ystd-archive-gap)/2);
        margin-bottom: 0;
        border: 0
    }
}

@media (min-width: 1025px) {
    .archive__item.is-card {
        --ystd-archive-item-width:calc(33.33% - var(--ystd-archive-gap)*2/3)
    }
}
@media (min-width: 600px) {
    .archive__item.is-card .archive__text {
        margin-bottom:0
    }
}

@media (min-width: 1025px) {
    .has-sidebar .archive__item.is-card {
        --ystd-archive-item-width:calc(50% - var(--ystd-archive-gap)/2)
    }
}

@media (min-width: 600px) {
    .archive__item.is-list {
        --ystd-archive-thumbnail-width:min(30%,360px)
    }
}

@media (min-width: 600px) {
    .archive__item.is-simple {
        display:flex;
        align-items: flex-start;
        gap: 1em
    }
}
@media (min-width: 600px) {
    .archive__item.is-simple .archive__title {
        margin-top:0
    }
}
